body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    background-image: url('../img/background-body.png');
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed; /* La imagen se quedará fija al hacer scroll */
    overflow-x: hidden;
    position: relative;
}

h1, h2, h3 {
    font-family: 'Georgia', serif;
}


/* ======== spinner ======== */
#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}


/* ======== Customizations =======*/
header{
    padding-top: 2rem;
}

@media (min-width:992px) {
    header .estrellas {
        font-size: 3rem; /* Ajusta el tamaño */
        line-height: 1.2; /* Ajusta el espaciado vertical */
    }
}

.container{
    max-width: 80%;
}

.list-group-item {
    background-color: transparent;
    color: #8a7d37;
    border: none;
    font-size: 1.1rem;
    text-align: center;
}

.description{
    color: #333;
    font-size: smaller;
}

.ul-bebidas li{
    color: #333;
}


/* ======== footer =======*/
footer {
    display: none; /* Ocultar el footer inicialmente */
    background-color: #333;
    color: #fff;
}

.containerFooter{
    max-width: 94%;
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}   

footer a:hover{
    color: #8a7d37;
    cursor: pointer;
    transition: 0.3s ease; /
}

footer a img {
    filter: invert(90%);
}

footer a:hover img {
    filter: invert(50%);
    transition: 0.3s ease;
}

footer a img {
    margin-left: 0.5rem; 
}